<html>
	<head>
		<title>&Aacute;rbol de Expansi&oacute;n M&iacute;nima</title>
		<link rel="stylesheet" href="bootstrap.min.css">
		<script src="./src/sigma.core.js"></script>
		<script src="./src/conrad.js"></script>
		<script src="./src/utils/sigma.utils.js"></script>
		<script src="./src/utils/sigma.polyfills.js"></script>
		<script src="./src/sigma.settings.js"></script>
		<script src="./src/classes/sigma.classes.dispatcher.js"></script>
		<script src="./src/classes/sigma.classes.configurable.js"></script>
		<script src="./src/classes/sigma.classes.graph.js"></script>
		<script src="./src/classes/sigma.classes.camera.js"></script>
		<script src="./src/classes/sigma.classes.quad.js"></script>
		<script src="./src/classes/sigma.classes.edgequad.js"></script>
		<script src="./src/captors/sigma.captors.mouse.js"></script>
		<script src="./src/captors/sigma.captors.touch.js"></script>
		<script src="./src/renderers/sigma.renderers.canvas.js"></script>
		<script src="./src/renderers/sigma.renderers.webgl.js"></script>
		<script src="./src/renderers/sigma.renderers.svg.js"></script>
		<script src="./src/renderers/sigma.renderers.def.js"></script>
		<script src="./src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
		<script src="./src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
		<script src="./src/renderers/webgl/sigma.webgl.edges.def.js"></script>
		<script src="./src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
		<script src="./src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.labels.def.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edges.def.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
		<script src="./src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
		<script src="./src/renderers/svg/sigma.svg.utils.js"></script>
		<script src="./src/renderers/svg/sigma.svg.nodes.def.js"></script>
		<script src="./src/renderers/svg/sigma.svg.edges.def.js"></script>
		<script src="./src/renderers/svg/sigma.svg.edges.curve.js"></script>
		<script src="./src/renderers/svg/sigma.svg.labels.def.js"></script>
		<script src="./src/renderers/svg/sigma.svg.hovers.def.js"></script>
		<script src="./src/middlewares/sigma.middlewares.rescale.js"></script>
		<script src="./src/middlewares/sigma.middlewares.copy.js"></script>
		<script src="./src/misc/sigma.misc.animation.js"></script>
		<script src="./src/misc/sigma.misc.bindEvents.js"></script>
		<script src="./src/misc/sigma.misc.bindDOMEvents.js"></script>
		<script src="./src/misc/sigma.misc.drawHovers.js"></script>
		<script src="./plugins/sigma.renderers.edgeLabels/settings.js"></script>
		<script src="./plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js"></script>
		<script src="./plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js"></script>
		<script src="./plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js"></script>
		<script src="./plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js"></script>
		<script type="text/javascript" src="underscore-min.js"></script>
		<script type="text/javascript" src="angular.min.js"></script>		
		<style type="text/css">
			#graph-container-original {
		      height:400;
		      width:600;
		      border: #000 solid thin;
		    }
		    #graph-container-solved {
		      height:400	;
		      width:600;
		      border: #000 solid thin;
		    }
		</style>
	</head>
	<body ng-app="ArbolExpansionMinima" ng-controller="ArbolExpansionMinimaController">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<h4>
						&Aacute;rbol de Expansi&oacute;n M&iacute;nima
					</h4>

				</div>
				<div class="col-md-2">
					<button class="btn btn-warning" ng-click="calcular()">Calcular</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<table class="table">
						<tr>
							<td colspan="2">Id</td>
							<td><input ng-model="node.id" type="text"/></td>
							<td><button ng-click="agregarNodo(node)" class="btn btn-success">Agregar</button></td>
						</tr>
						<tr>
							<td>Nodos</td>
							<td colspan="3">
								<span ng-repeat="nodo in kruskalNodes">
									<button ng-click="eliminarNodo($index)" class="btn btn-sm btn-danger">{{nodo}}</button>	
								</span>
								
							</td>
						</tr>
						<tr>
							<td colspan="4" align="center">
								Relaciones
							</td>
						</tr>
						<tr>
							<td>
								Origen
							</td>
							<td>
								Destino
							</td>
							<td>
								Costo
							</td>
							<td> </td>
						</tr>
						<tr>
							<td>
								<select ng-options="node as node for node in kruskalNodes" ng-model="source"></select>
							</td>
							<td>
								<select ng-options="node as node for node in kruskalNodes" ng-model="target"></select>
							</td>
							<td>
								<input ng-model="weight" type="number"/>
							</td>
							<td>
								<button ng-click="agregarArista()" class="btn btn-success">Agregar</button>
							</td>
						</tr>
						<tr ng-repeat="edge in kruskalEdges">
							<td>{{edge[0]}}</td>
							<td>{{edge[1]}}</td>
							<td>{{edge[2]}}</td>
							<td><button ng-click="eliminarArista($index)" class="btn btn-danger">Eliminar</button></td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div id="graph-container-original">
						</div>
					</div>
					<div class="row">
						<div id="graph-container-solved">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			</div>
		</div>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>